@page "{id}"
@model EditModel
@{
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Students</li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>
<a asp-page="./Index" name="Index" class="btn btn-primary" role="button" style="margin-bottom:10px;">Index</a>
<form method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <div class="form-group">
        <label asp-for="@Model.LoggedUser"></label>
        <input asp-for="@Model.LoggedUser" class="form-control" />
        <span asp-validation-for="@Model.LoggedUser" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <input asp-for="@Model.Name" class="form-control" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.IdentificationNumber"></label>
        <input asp-for="@Model.IdentificationNumber" class="form-control" />
        <span asp-validation-for="@Model.IdentificationNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Street"></label>
        <input asp-for="@Model.Street" class="form-control" />
        <span asp-validation-for="@Model.Street" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.State"></label>
        <input asp-for="@Model.State" class="form-control" />
        <span asp-validation-for="@Model.State" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" />
</form>